@import '../../scss/main.scss';

.ItemListContainer{
margin: 1rem 0;
}


.ItemList{
     margin: 1rem auto;

    text-align: start;
    img{
        width: 100%;
    }
}

.Price{
    padding-top: 1rem ;
}

.Title{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    
}