@import '../../scss/main.scss';

.Form{
padding: 1rem;
@include boxShadow(.1rem, .2rem, $color-darkGrey);
margin: 0 auto;
width: 100%;


h2{
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bolder;
}
}

.medium{
    width: 50%;

    @include respond(phone){
         width: 80%;
    }
}

.two{
    @include twoCol;
}