@import '../../scss/main.scss';

.Shop{
    margin: 1rem auto;
   
}

.controlContainer{
    @include respond(phone){
        display: none;
    }
}

.filterContainer{
 @include respond(phone){
        display: none;
    }
}
.searchContainer{

}

.leftHeader{
    @include headerLeft;
    color: $color-darkGrey;
}