@import '../../scss/main.scss';

.BackDrop{
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 100%;
   background-color: $color-primary;
    display: none;
    

   
    
}

.show{
    display: block;
    opacity: 0.7;
    animation: fade-in .1s ease-in-out;
}

.showForSideBar{
    display: block;
    opacity: 0.7;
    animation: fade-in .1s ease-in-out;

    @include respond(minPhone){
        display: none ;
    }

}

@keyframes fade-in {
  
    0%{
        opacity: 0;
     
    }

      100%{     
        opacity: 0.7;
   
        
    }
}
