@import '../../../scss/main.scss';

.ShopItems{
    margin: 0 auto;
    
}
.ViewMore{
    margin: 0 auto;
    color: $color-primary;
    @include headerCentre;
    text-transform: none;
    cursor: pointer;
}

.ShopItem{
    max-height: 42rem;
    text-align: start;
    img{
        width: 100%;
    }
}

.Price{
    padding-top: 1rem ;
}

.Title{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}


.BuyOptions{

}
.ImgDiv{
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    
}
.BuyOptionsImg{
width: 97%;


}

.BuyOptionsOptions{

}
.headerCentre{
     @include headerCentre
}
.headerLeft{
    @include headerLeft
}
.description{
    font-weight: bold;
    padding: 1rem 0;
    
}

.ItemList{
     margin: 1rem auto;
@include boxShadow(.2rem, 1rem, $color-grey);
border: none;
    text-align: start;
    img{
        width: 100%;
        background-color: $color-grey;
    }
}
.itemImage{
background-color: $color-grey;
min-height: 20rem;
}
.qtyClass{
    align-items: center;
    margin-bottom: .5rem;
}

.Price{
    padding: 1rem 0;
   
}

.Title{
    text-align: start;
    
}