@import '../../../scss/main.scss';

.ShopItems{
    margin: 0 auto;
    
}
.ViewMore{
    margin: 0 auto;
}

.ShopItem{
    max-height: 42rem;
    text-align: start;
    img{
        width: 100%;
    }
}

.Price{
    padding-top: 1rem ;
}

.Title{
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}