
@import '../../../scss/main.scss';

.CheckoutDetails{

    width: 50%;
margin: 2rem auto;
    @include respond(tablet){
        width: 80%;
    }
}

.checkoutItemContainer{
text-align: start;
@include boxShadow(.2rem, .3rem, $color-grey);
padding: 1rem;
margin: 1rem 0;

h4{
    font-weight: bold;
    padding: 1rem 0;
}
}

.CountryClass{
    
    margin: .5rem 0;
padding: .5rem;
outline: none;
@include border(.1rem, $color-grey);
color: $color-primary;
width: 100%;
&:focus{
@include border(.1rem, $color-green);
}
   .options{
       &:hover{
        background-color: $color-primary;
    } 
    
    } 
}

.HeaderLeft{
    @include headerLeft
}
.errorText{
    color: $color-red;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}