@import '../../scss/main.scss';

.Register{
margin: 2rem auto;

}

.linkText{
@include linkText;
}
.TitleBox{
    @include twoCol
}




.twoColDiv{
      @include twoCol;
}

.buttonDiv{
    margin: 1rem 0;
}
.errorText{
    color: $color-red;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}