@import '../../scss/main.scss';

.FilterCategories{
margin: 0 auto;
    text-align: start;
    @include respond(phone){
      
        text-align: center;
    }

    @include respond(phone){
        background-color: $color-white;
    }
}

.FilterLabel{
    text-align: start;
    font-weight: lighter;
    padding: 1rem 0;
    color: $color-primary;
}