$color-black: #000;
$color-grey: #ccc;
$color-white: #fff;
$color-blue: #0e7df8;
$color-darkBlue: #000035;
$color-orange: #ff5300;
$color-red: #dc3545;
$color-darkGrey: #2e2e2e;
$color-green: #23c26b;
$color-primary: #2f4f4f;

$phone: 480px;
$tablet: 768px;
$largeTablet: 991px;
$desktop: 1024px ;